<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="alumnosForm">
    <!-- CONTROL DE Name -->

    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input
          [formControl]="nameControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of nameControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>


    <!-- CONTROL DE lastName -->
    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>last Name</mat-label>
        <input
          [formControl]="last_nameControl"
          type="text"
          matInput
        >
        <mat-error *ngFor="let error of last_nameControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

    <!-- CONTROL DE curso -->

    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>Select</mat-label>
            <input
          [formControl]="courseControl"
          type="text"
          matInput
            >
        <mat-select>
          <mat-option value="one">1st Year</mat-option>
          <mat-option value="two">2nd Year</mat-option>
          <mat-option value="three">3rd Year</mat-option>
          <mat-option value="four">4th Year</mat-option>
          <mat-option value="five">5th Year</mat-option>
        </mat-select>
        <mat-error *ngFor="let error of courseControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
      </mat-form-field>

    </div>

 <!-- CONTROL DE clase -->

 <div class="col-12 field">
  <mat-form-field class="w-full">
    <label>Clase</label>
    <mat-label>Select</mat-label>
        <input
      [formControl]="claseControl"
      type="text"
      matInput
        >
    <mat-select>
      <mat-option value="one">Computer Science</mat-option>
      <mat-option value="two">Chemistry</mat-option>
      <mat-option value="three">Physics</mat-option>
      <mat-option value="four">Math</mat-option>
      <mat-option value="five">Psychology</mat-option>
      <mat-option value="six">Literature</mat-option>
      <mat-option value="seven">Design</mat-option>
    </mat-select>
    <mat-error *ngFor="let error of claseControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
  </mat-form-field>

</div>



  
 <!-- CONTROL DE fecha -->

 <div class="col-12 field">
  <mat-form-field class="w-full">
    <mat-label>birth date</mat-label>
    <input
      [formControl]="birth_dateControl"
      type="text"
      matInput
    >
    <mat-error *ngFor="let error of birth_dateControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="guardar()" mat-button>Guardar</button>
</div>
