

<div class="mb-3">
    <button (click)="abrirABMAlumnos()" color="primary" mat-flat-button>
      <mat-icon>add</mat-icon>
      Agregar Alumno
    </button>
  </div>
<mat-form-field class="form-field-class">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilters($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource">
    <!-- Id Column -->
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <!-- full name column -->
  <ng-container matColumnDef="full_name">
    <th mat-header-cell *matHeaderCellDef> Full Name </th>
    <td mat-cell *matCellDef="let user"> {{user | fullName: 'lowercase'}} </td>
  </ng-container>

   <!-- Course Column -->
<ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef> Course </th>
    <td mat-cell *matCellDef="let user"> {{user.course}} </td>
</ng-container>

 <!-- class Column -->
 <ng-container matColumnDef="clases">
    <th mat-header-cell *matHeaderCellDef> Clases </th>
    <td mat-cell *matCellDef="let user"> {{user.seleccion}} </td>
  </ng-container>
  

  <!-- birth date Column -->
  <ng-container matColumnDef="birth_date">
    <th mat-header-cell *matHeaderCellDef> Birth Date </th>
    <td mat-cell *matCellDef="let user"> {{user.birth_date | date: 'dd/MM/YYYY'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

